body {
  font-family: Helvetica;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  background-color: #1e6241;
  color: white;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

.page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
    color: white;
  }

.items {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 20px;
  
}

.items img {
  width: 100%;
  height: auto;
}

.item {
  border-style: solid;
  border-color: beige;
  color: #472c06;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.item button {
  justify-self: center;
  border-style: none;
  background-color: #1e6241;
  color: white;
  padding: 8px;
  border-radius: 4px;
}